.idea
node_modules
.vscode-test/
*.txt
*.tgz
*.log
todo.md
.DS_Store
dist
out
*.vsix
.wireit/
.tsbuildinfo
.rollup.cache/

/packages/*/lib
/packages/*/out
/packages/*/scripts
/packages/*/test
/packages/*/index.*

/packages/vscode-lit-plugin/built
