.vscode
.idea
.editorconfig
node_modules
*.txt
*.tgz
*.log
.DS_Store
dist
out
*.vsix
*.gif
*.png
*.log
.eslintignore
.gitignore
.prettierignore
.vscodeignore

/packages/*/lib
/packages/*/out
/packages/*/scripts
/packages/*/test
/packages/*/index.*
